extends layout

block content
    if hooks.length > 0
        ul.hooks
            each hook in hooks
                li
                    span.name= hook.name
                    span.url= "http://" + host + "/hook/" + hook.key + "/deploy"
                    div.action
                        a(href="/hook/" + hook.key + "/edit").edit= "Edit"
                        a(href="/hook/" + hook.key + "/delete").delete= "Delete"
    else
        span.nohooks
            | There are no hooks yet !
            i.emo
                | : (